<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@drawable/item_login"
        android:label="Food Delivery"
        android:roundIcon="@drawable/ellipse1"
        android:supportsRtl="true"
        android:theme="@style/Theme.UIAppFood"
        tools:targetApi="31">
        <activity
            android:name=".activities.ForgotPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".activities.FavoritesListActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileHomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.NoInternetActivity"
            android:exported="false" />
        <activity
            android:name=".activities.InfoFoodActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OfferActivity"
            android:exported="false" />
        <activity
            android:name=".activities.OrdersActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HistoryActivity"
            android:exported="false" />
        <activity
            android:name=".activities.ProfileActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MenuActivity"
            android:exported="false" />
        <activity
            android:name=".activities.HomeActivity"
            android:exported="false" />
        <activity
            android:name=".activities.MainActivity"
            android:exported="false" />
        <activity
            android:name=".activities.Login"
            android:exported="false" />
        <activity
            android:name=".activities.SplashActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>